Este jupyter tiene el compromiso de appendear los dataframes yellow_trips_new.csv y green_trips_new_2.csv, los cuales contienen las siguientes columnas en comun:

 + 'pickup_datetime' 
 + 'dropoff_datetime' 
 + 'pickup_longitude'
 + 'pickup_latitude' 
 + dropoff_longitude' 
 + 'dropoff_latitude'
 + 'passenger_count' 
 + 'trip_distance'
 + 'total_amount'

In [2]:
import pandas as pd

# En esta celda se configuran los paths a ambos archivos
path="C:\\Users\\jisaza\\Desktop\\DS4A_workspace\\datathon\\data"
yellow="\yellow_trips_new.csv"
green="\green_trips_new_2.csv"

yellow_path=path+yellow
green_path=path+green

In [4]:
# Se lee con pandas el archivo corresponeidnte a los viajes amarillos, se parsean las columnas
# de 'pickup_datetime' y 'dropoff_datetime' a formato datetime
df_yellow=pd.read_csv(yellow_path,parse_dates=[0,1])

In [5]:
# Se lee con pandas el archivo correspondiete a los viajes verdes, se parsean las columnas
# de 'pickup_datetime' y 'dropoff_datetime' a formato datetime
df_green=pd.read_csv(green_path,parse_dates=[0,1])

In [6]:
# Para ambos dataframes se crea la columna type que indica a que grupo pertenece el viaje
df_yellow["type"]="yellow"
df_green["type"]="green"

In [11]:
# Se crea un dataframe llamado df_trips, el cual contiene la inforamcion de ambos tipos de viajes
df_trips=pd.concat([df_yellow,df_green])
df_trips.shape

(11563107, 10)

In [18]:
#df_trips[["pickup_datetime","passenger_count"]].set_index('pickup_datetime').groupby(pd.Grouper(freq='M')).mean()

                 passenger_count
pickup_datetime
2014-04-30              1.625205
2014-05-31              1.629578
2014-06-30              1.628299
2014-07-31              1.627078
2014-08-31              1.627599
2014-09-30              1.607272
2014-10-31                   NaN
2014-11-30                   NaN
2014-12-31                   NaN
2015-01-31              1.587731
2015-02-28              1.570997
2015-03-31              1.569846
2015-04-30              1.575458
2015-05-31              1.580260
2015-06-30              1.576175

In [22]:
# Este bloque exporta a csv el dataframe, usando como separador , 
path="C:\\Users\\jisaza\\Desktop\\DS4A_workspace\\datathon\\data"
file_name="\yellow_green_trips.csv"
data=path+file_name
df_trips.to_csv(data,index=False)