Este notebook toma la base de datos geographic.csv y la lleva a la siguiente estructura:


| Barrio | Lon | Lat |
| --- | --- | --- |
| string | Float | Float |

In [81]:
#Se importa Pandas
import pandas as pd

# Lectura del archivo local
df=pd.read_csv("C:\\Users\\jisaza\\Desktop\\DS4A_workspace\\Dataset\\geographic.csv",encoding="utf8")

#Se crea una columna label que va a contener numeros 
df["Label"]=df.index
#Recorro el vector 
for i in range(len(df)):
    #Si es par lo asigno a Lon (longitud)
    if df.iloc[i,-1]%2==0:
        df.iloc[i,-1]="Lon"
    #Si es impar lo asigno a Lat (latitud)    
    else:
        df.iloc[i,-1]="Lat"

In [82]:
#Separo el dataframe en uno que contenga latitudes y en otro que contenga longitudes
df_lat=df[df["Label"]=="Lat"]
df_lon=df[df["Label"]=="Lon"]

In [84]:
#Aplico un unstack a cada daframe y los renombramos con el sufijo "2"
df_lon2=df_lon.T.unstack(level=0)
df_lat2=df_lat.T.unstack(level=0)

#Al objeto unstack() lo convertimos en dataframe
dfc=pd.DataFrame(df_lat2)
dfc.columns=["Lat"]
dff=pd.DataFrame(df_lon2)
dff.columns=["Lon"]

#Tomamos las tuplas del multiindex y generamos la variable Barrio
dff["Barrio"]=dff.index
dff["Barrio3"]=dff["Barrio"].astype(str)
dff['A.x'], dff['Barrio'] = zip(*dff.Barrio)
dff2=dff.reset_index(level=[0,1])

dfc["Barrio"]=dfc.index
dfc["Barrio3"]=dfc["Barrio"].astype(str)
dfc['A.x'], dfc['Barrio'] = zip(*dfc.Barrio)
dfc2=dfc.reset_index(level=[0,1])


#Rejuntamos el dataframe de longitudes con el de latitudes para obtenr el resultado final
df_final=dff2.join(dfc2, lsuffix='_caller', rsuffix='_other')
df_final=df_final[["Barrio_caller","Lon","Lat"]]
df_final.columns=["Barrio","Lon","Lat"]

In [86]:
df_final

       Barrio      Lon      Lat
0        BK88 -73.9761  40.6313
1        QN52 -73.7949  40.7578
2        QN48 -73.7757  40.7433
3        QN51 -73.8038  40.7756
4        QN27 -73.8611  40.7637
5        BX35  -73.897  40.8344
6        BX98 -73.8729   40.786
7        QN07 -73.7573  40.7181
8        MN06 -73.9461  40.8213
9        QN02 -73.7603  40.6751
10       QN46 -73.7678  40.7788
11       BK25 -73.9586  40.6104
12       BX59 -73.8394  40.8409
13       QN41 -73.7776  40.7302
14       MN17  -73.973  40.7643
15       MN19 -73.9616  40.7552
16       QN47 -73.7678  40.7788
17       QN08 -73.7521  40.7052
18       QN54 -73.8164  40.7025
19       QN25 -73.8573   40.748
20       QN55 -73.8058  40.6829
21       QN06 -73.7567  40.7262
22       BK44 -73.9375  40.6086
23       BK40 -73.9802  40.6612
24       BK41 -73.9708  40.6464
25       BK95 -73.9483  40.6386
26       BX33 -73.8948  40.8263
27       BK69 -73.9534  40.6806
28       BX52 -73.8398  40.8356
29       QN49 -73.7918  40.7894
...       ...      ...      ...
911566   BK33      NaN      NaN
911567   SI14      NaN      NaN
911568   SI37      NaN      NaN
911569   QN71      NaN      NaN
911570   BK32      NaN      NaN
911571   BK37      NaN      NaN
911572   QN37      NaN      NaN
911573   QN38      NaN      NaN
911574   QN21      NaN      NaN
911575   BK09      NaN      NaN
911576   BK38      NaN      NaN
911577   BK82      NaN      NaN
911578   BK83      NaN      NaN
911579   SI11      NaN      NaN
911580   SI05      NaN      NaN
911581   SI32      NaN      NaN
911582   BK31      NaN      NaN
911583   BK99      NaN      NaN
911584   SI99      NaN      NaN
911585   MN25      NaN      NaN
911586   MN24      NaN      NaN
911587   MN23      NaN      NaN
911588   MN13      NaN      NaN
911589   MN15      NaN      NaN
911590   MN32      NaN      NaN
911591   MN33      NaN      NaN
911592   MN99      NaN      NaN
911593   QN18      NaN      NaN
911594   QN29      NaN      NaN
911595  Label      Lon      Lat

[911596 rows x 3 columns]